# Tushare Tutorial
## Tushare简介
>   TuShare是一个免费、开源的python财经数据接口包。主要实现对股票等金融数据从数据采集、清洗加工 到 数据存储的过程，能够为金融分析人员提供快速、整洁、和多样的便于分析的数据，为他们在数据获取方面极大地减轻工作量，使他们更加专注于策略和模型的研究与实现上。考虑到Python pandas包在金融量化分析中体现出的优势，TuShare返回的绝大部分的数据格式都是pandas DataFrame类型，非常便于用pandas/NumPy/Matplotlib进行数据分析和可视化。当然，如果您习惯了用Excel或者关系型数据库做分析，您也可以通过TuShare的数据存储功能，将数据全部保存到本地后进行分析。应一些用户的请求，从0.2.5版本开始，TuShare同时兼容Python 2.x和Python 3.x，对部分代码进行了重构，并优化了一些算法，确保数据获取的高效和稳定。

查看版本

In [2]:
import tushare as ts
print ts.__version__

0.5.0

## 获取历史数据

In [3]:
data=ts.get_hist_data('600299',start='2016-06-01',end='2016-06-10')

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
print data

             open   high  close    low    volume  price_change  p_change  \
date
2016-06-08  13.30  13.36  13.25  13.11  27357.47          0.04      0.30
2016-06-07  13.45  13.53  13.37  13.27  30523.44         -0.10     -0.74
2016-06-06  13.61  13.65  13.47  13.42  29164.29         -0.08     -0.59
2016-06-03  13.33  13.56  13.55  13.22  49586.62          0.26      1.96
2016-06-02  13.25  13.41  13.29  13.10  36020.29          0.09      0.68
2016-06-01  13.20  13.46  13.20  13.15  47789.89          0.05      0.38

               ma5    ma10    ma20     v_ma5    v_ma10    v_ma20  turnover
date
2016-06-08  13.386  13.161  13.141  34530.42  34109.87  34524.14      0.52
2016-06-07  13.376  13.134  13.122  38616.91  33660.77  34643.12      0.58
2016-06-06  13.332  13.105  13.097  41218.94  33022.96  34644.02      0.56
2016-06-03  13.170  13.089  13.062  39284.94  33164.21  35324.08      0.95
2016-06-02  13.018  13.031  13.059  34189.75  32300.38  35458.74      0.69
2016-06-01  12.936  13.012  13.096  33689.32  32828.04  35107.35      0.91

In [8]:
print data.index

Index([u'2016-06-08', u'2016-06-07', u'2016-06-06', u'2016-06-03',
       u'2016-06-02', u'2016-06-01'],
      dtype='object', name=u'date')

In [11]:
date1=data.index[2]
print date1

2016-06-06

In [14]:
print type(date1)

<type 'unicode'>

In [16]:
import pandas as pd

In [18]:
ts1=pd.to_datetime(data.index)

In [21]:
print ts1

DatetimeIndex(['2016-06-08', '2016-06-07', '2016-06-06', '2016-06-03',
               '2016-06-02', '2016-06-01'],
              dtype='datetime64[ns]', name=u'date', freq=None)

In [23]:
print type(ts1)

<class 'pandas.tseries.index.DatetimeIndex'>

In [25]:
print type(ts1[0])

<class 'pandas.tslib.Timestamp'>

In [27]:
data.set_index(ts1)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2016-06-08,13.30,13.36,13.25,13.11,27357.47,0.04,0.30,13.386,13.161,13.141,34530.42,34109.87,34524.14,0.52
2016-06-07,13.45,13.53,13.37,13.27,30523.44,-0.10,-0.74,13.376,13.134,13.122,38616.91,33660.77,34643.12,0.58
2016-06-06,13.61,13.65,13.47,13.42,29164.29,-0.08,-0.59,13.332,13.105,13.097,41218.94,33022.96,34644.02,0.56
2016-06-03,13.33,13.56,13.55,13.22,49586.62,0.26,1.96,13.170,13.089,13.062,39284.94,33164.21,35324.08,0.95
2016-06-02,13.25,13.41,13.29,13.10,36020.29,0.09,0.68,13.018,13.031,13.059,34189.75,32300.38,35458.74,0.69
2016-06-01,13.20,13.46,13.20,13.15,47789.89,0.05,0.38,12.936,13.012,13.096,33689.32,32828.04,35107.35,0.91

In [29]:
data

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2016-06-08,13.30,13.36,13.25,13.11,27357.47,0.04,0.30,13.386,13.161,13.141,34530.42,34109.87,34524.14,0.52
2016-06-07,13.45,13.53,13.37,13.27,30523.44,-0.10,-0.74,13.376,13.134,13.122,38616.91,33660.77,34643.12,0.58
2016-06-06,13.61,13.65,13.47,13.42,29164.29,-0.08,-0.59,13.332,13.105,13.097,41218.94,33022.96,34644.02,0.56
2016-06-03,13.33,13.56,13.55,13.22,49586.62,0.26,1.96,13.170,13.089,13.062,39284.94,33164.21,35324.08,0.95
2016-06-02,13.25,13.41,13.29,13.10,36020.29,0.09,0.68,13.018,13.031,13.059,34189.75,32300.38,35458.74,0.69
2016-06-01,13.20,13.46,13.20,13.15,47789.89,0.05,0.38,12.936,13.012,13.096,33689.32,32828.04,35107.35,0.91

## 图形化展示

In [34]:
import matplotlib.pyplot as plt
%matplotlib inline
print data['open']
plt.plot(data['open'])
plt.show()

date
2016-06-08    13.30
2016-06-07    13.45
2016-06-06    13.61
2016-06-03    13.33
2016-06-02    13.25
2016-06-01    13.20
Name: open, dtype: float64

## 查看复权数据

In [37]:
dq=ts.get_h_data('000001',start='2015-01-01',end='2016-08-16')

[Getting data:]######

In [39]:
print dq

             open   high  close    low       volume        amount
date
2016-08-16   9.68   9.68   9.52   9.46  109955862.0  1.050480e+09
2016-08-15   9.55   9.80   9.68   9.51  189755226.0  1.835197e+09
2016-08-12   9.20   9.53   9.50   9.18  137002155.0  1.282336e+09
2016-08-11   9.14   9.35   9.22   9.13   93557601.0  8.665949e+08
2016-08-10   9.15   9.18   9.14   9.12   43665545.0  3.996570e+08
2016-08-09   9.09   9.15   9.15   9.07   41567631.0  3.787207e+08
2016-08-08   9.04   9.11   9.11   9.01   39847930.0  3.611910e+08
2016-08-05   8.99   9.07   9.04   8.95   72594819.0  6.549981e+08
2016-08-04   9.17   9.18   8.99   8.93  134446207.0  1.210347e+09
2016-08-03   9.21   9.22   9.18   9.15   42462218.0  3.898175e+08
2016-08-02   9.24   9.26   9.25   9.17   44916516.0  4.134846e+08
2016-08-01   9.18   9.34   9.28   9.17   75932441.0  7.024666e+08
2016-07-29   9.08   9.24   9.20   9.03   67142534.0  6.149727e+08
2016-07-28   8.98   9.11   9.08   8.97   47991038.0  4.344905e+08
2016-07-27   9.12   9.17   9.01   8.91   81867834.0  7.412633e+08
2016-07-26   8.97   9.12   9.11   8.97   54655692.0  4.945064e+08
2016-07-25   8.93   8.98   8.98   8.91   26468286.0  2.369375e+08
2016-07-22   8.99   8.99   8.94   8.92   29554964.0  2.643792e+08
2016-07-21   8.95   9.01   8.99   8.95   34026127.0  3.057103e+08
2016-07-20   8.96   8.99   8.96   8.95   31092641.0  2.787372e+08
2016-07-19   9.04   9.05   8.97   8.95   36278781.0  3.260465e+08
2016-07-18   8.99   9.08   9.04   8.97   50693492.0  4.573580e+08
2016-07-15   8.95   9.00   8.99   8.91   35203395.0  3.155553e+08
2016-07-14   8.97   9.00   8.94   8.91   35969939.0  3.218893e+08
2016-07-13   8.88   9.05   8.99   8.86   79828864.0  7.167970e+08
2016-07-12   8.75   8.89   8.88   8.74   71183240.0  6.275056e+08
2016-07-11   8.75   8.79   8.75   8.74   36537252.0  3.203338e+08
2016-07-08   8.79   8.79   8.74   8.73   26134229.0  2.287787e+08
2016-07-07   8.79   8.80   8.78   8.74   31285308.0  2.743372e+08
2016-07-06   8.80   8.82   8.79   8.76   32295017.0  2.838274e+08
...           ...    ...    ...    ...          ...           ...
2015-02-13   9.45   9.62   9.46   9.39   88774312.0  1.244515e+09
2015-02-12   9.33   9.43   9.40   9.24   60871568.0  8.386113e+08
2015-02-11   9.35   9.39   9.31   9.28   55434952.0  7.634146e+08
2015-02-10   9.15   9.37   9.34   9.10   72487536.0  9.918237e+08
2015-02-09   9.16   9.28   9.17   8.97   94658624.0  1.273141e+09
2015-02-06   9.29   9.46   9.16   9.09  103040856.0  1.411299e+09
2015-02-05   9.70   9.79   9.35   9.33  191372912.0  2.710524e+09
2015-02-04   9.50   9.52   9.30   9.29   80762312.0  1.122667e+09
2015-02-03   9.35   9.49   9.46   9.24   88334912.0  1.217877e+09
2015-02-02   9.23   9.36   9.25   9.19   86093216.0  1.176950e+09
2015-01-30   9.45   9.58   9.45   9.33   93011672.0  1.298736e+09
2015-01-29   9.37   9.50   9.43   9.33  101675328.0  1.408825e+09
2015-01-28   9.41   9.70   9.54   9.36  124087752.0  1.742176e+09
2015-01-27   9.73   9.75   9.49   9.38  133949464.0  1.881059e+09
2015-01-26   9.74   9.79   9.73   9.61  105760576.0  1.508447e+09
2015-01-23   9.74   9.92   9.77   9.70  145918192.0  2.108747e+09
2015-01-22   9.73   9.85   9.70   9.61  125501608.0  1.801436e+09
2015-01-21   9.42   9.90   9.78   9.33  194053040.0  2.758193e+09
2015-01-20   9.38   9.54   9.38   9.20  149101808.0  2.064281e+09
2015-01-19   9.50   9.88   9.38   9.38  213712368.0  3.016203e+09
2015-01-16  10.45  10.60  10.43  10.30  155584640.0  2.403346e+09
2015-01-15  10.07  10.41  10.41   9.98  124217032.0  1.868796e+09
2015-01-14  10.03  10.31  10.05   9.97  126302960.0  1.889297e+09
2015-01-13   9.94  10.11   9.96   9.91   81687480.0  1.204987e+09
2015-01-12  10.09  10.21  10.02   9.84  155329088.0  2.293105e+09
2015-01-09  10.11  10.76  10.23   9.98  250850016.0  3.835378e+09
2015-01-08  10.51  10.56  10.15  10.11  140771424.0  2.128003e+09
2015-01-07  10.55  10.74  10.50  10.38  170012064.0  2.634796e+09
2015-01-06  10.75  11.12  10.70  10.55  216642144.0  3.453446e+09
2015-01-05  10.85  11.04  10.87  10.58  286043648.0  4.565388e+09

[397 rows x 6 columns]

In [47]:
dq.to_csv('000001.csv')

In [49]:
tmp=ts.get_h_data('600598',start='2015-01-01',end='2016-08-16')

[Getting data:]####timed out
##

timeout: timed out

In [ ]:
print tmp

## 查看帮助

In [ ]:
help(ts.get_h_data)

In [ ]:
help(ts.get_hist_data)